/* .section {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
} */

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 25px;
}
